body
{
background: #fff url('/coleman/images/logos/outdoors_clogo.jpg') right top no-repeat;
color:#000;
margin:0;
padding:20px;
font: normal 10pt verdana, arial, sans-serif;
}


/* Hide the following items */
#copyright-info-right, #addthisbutton, #shopother, #_atssh, topbar, #header, header-right, #search-and-cart,#column-left, #nav,  #nav-left, #banner-customer-service,#banners, #footer, #links, #nav-top-gear, #tab-3,  #copyright-info, #color-and-size
{
display:none;
}

ul {
 list-style: none;
 font-size: 10pt;
 line-height: normal;
}
ul.product-thumbs {
 display:none;
}

ul.nav-tabbed {
display:none;
}

h2.image-replacement {
display:none;
}


h1, h2, h3, h4 
{
    font-family: Arial, Verdana, Sans-Serif;
    font-weight: normal;
    color: #000;
}
h1
{
    font-size:14pt;
	font-weight: bold;
}
h2
{
    font-size:10pt;
}

h3
{
    font-size:10pt;
}

h4
{
    font-size:10pt;
}

h4 a:link, h4 a:visited {
color:#000;
text-decoration:none;
}

/*Links Black*/
a:link, a:visited, a:active {
color:#000;
text-decoration:none;
}

#main a:after {
content: "(" attr(href) ")";
font-size:11pt;
}

img { page-break-inside:avoid; 
      page-break-after:avoid;
      border:0px;
       
    }

input {
display:none;
}

a.find-out-more {
display:none;
}

ul.product-listing.bottom-related-items {
display:none;
}
