<?xml version="1.0"?>
<configuration>
<appSettings/>
<connectionStrings/>
<system.web>
  <customErrors mode="Off"/>
  <compilation debug="true" targetFramework="4.0">
  </compilation>
  <authentication mode="Forms">
    <forms loginUrl="Login.aspx">
      <credentials passwordFormat="SHA1">
        <user name="smith" password="A94A8FE5CCB19BA61C4C0873D391E987982FBBD3"/>
        <user name="frylock" password="AFF528FA268D7601C9BB35395C8268EFE7073FB3"/>
        <user name="harvey" password="9296E4A3D33D17B4941CA69CA3F3432AF8CAF804"/>
        <user name="danielparris" password="A24E89F737F19B01747B96F0756D93E17282D007"/>
        <user name="danclapper" password="0F170DCB124231C223126BD48E4DB222C392BF70"/>
        <user name="cis340" password="564A63DBBABADFEACA384849F8BA349CA047D045"/>
      </credentials>
    </forms>
  </authentication>
</system.web>
</configuration>

<!--
Passwords are as follows
smith - test
frylock - mastershake
harvey - birdman
danielparris - isagoodman
danclapper - teacherman
cis340 - spring2011
-->
